@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

li.pagination__link {
  color: rgba(91, 224, 224, 0.933);
}
.center {
  text-align: center !important;
  align-content: center !important;
  justify-content: center !important;
}
a.pagination__link {
  color: red;
}

.pagination > li {
  list-style: none;
  display: inline;
  padding: 15px;
}

ul.pagination {
  /* border: 1px solid rgba(40, 43, 43, 0.933); */
  /* padding: 10px; */
  justify-content: center;
}
.pagination__link--active {
  background-color: rgb(11, 74, 133);
  color: #fff;
}
.align-right {
  align-content: right;
  justify-content: right;
  text-align: right;
}
